<section class="intro">
  <div class="container">
    <p class="lead">Project site explaining the work surrounding and comprising LOFI, a music and activity based music recommendation system leveraging wearables, smartphones and modern computing power to 
	help relieve mental and physical stress by recommending users appropriate music.<br><br><iframe width="560" height="315" src="https://www.youtube.com/embed/Ok8iE7S7UCg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
	The LOFI project was designed and executed by Juan Carlo Rebanal and Jeannie Hur for the ECE M202A course in the Winter 2019 quarter at UCLA under Dr. Mani Srivastava. We thank him for his guidance 
	and knowledge throughout this project. </p>
  </div>
</section>
