
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
	  <li><a href="{{ '/abstract' | prepend: site.baseurl | prepend: site.url }}">Abstract</a></li>
	  <li><a href="{{ '/prior' | prepend: site.baseurl | prepend: site.url }}">Prior Work</a></li>
	  <li><a href="{{ '/design' | prepend: site.baseurl | prepend: site.url }}">Design</a></li>
	  <li><a href="{{ '/results' | prepend: site.baseurl | prepend: site.url }}">Results</a></li>
	  <li><a href="{{ '/discussion' | prepend: site.baseurl | prepend: site.url }}">Discussion</a></li>
	  <li><a href="{{ '/references' | prepend: site.baseurl | prepend: site.url }}">References</a></li>
    </ul>
  </div>
</nav>
